.conteudo {
  max-width: 1400px;
  display: grid;
  padding: 5px 80px;
  gap: 25px;
  margin-top: 200px;
}

.conteudo p {
  padding: 20px 0;
}

.titulo {
  font-size: 4.9rem;
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
}

p {
  padding: 15px 0;
  font-size: 1.9rem;
  color: #fff;
}

@media (max-width: 1100px) {
  body {
    background: linear-gradient(45deg, #020d12 60%, #073a45, #056d83 60%);
    background-size: cover;
  }

  .titulo {
    font-size: 4rem;
    margin-bottom: 0px;
  }
}

@media (max-width: 890px) {
  .titulo {
    font-size: 3rem;
    margin-bottom: 0px;
  }
}
