header {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  height: 150px;
  background-color: transparent;
  position: fixed;
  top: -1px;
  background: transparent;
  backdrop-filter: blur(15px);
  z-index: 2;
}

.topo {
  display: flex;
}

.topo button {
  margin-left: 30px;
  padding: 15px 25px;
}

.topo li {
  border-radius: 5px;
}

.topo a {
  color: #fff;
  text-transform: capitalize;
}

.logo {
  max-width: 15%;
  display: block;
  margin-top: 20px;
}

@media (max-width: 935px) {
  .logo {
    display: none;
  }

  .topo {
    padding: 0 0px;
  }
}

@media (max-width: 750px) {
  header {
    display: none;
  }
}
