li,
h3,
p,
h5,
a {
  margin: 0px;
  list-style: none;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
}

body,
main {
  background: linear-gradient(45deg, #020d12 60%, #073a45, #056d83);
}

@font-face {
  font-family: neuemachina;
  src: url(../fontes/NeueMachina-Regular.otf) format(opentype);
}

@font-face {
  font-family: centauri;
  src: url(../fontes/Centauri-Regular.otf) format(opentype);
}

h1 {
  font-family: centauri;
  text-transform: lowercase;
}

p,
h3,
a {
  font-family: neuemachina;
  color: #fff;
}

button {
  padding: 15px 20px;
  background-color: #000;
  border: none;
  font-size: 18px;
  position: relative;
  transition: 500ms;
  justify-self: left;
  gap: 90px;
}

button a {
  color: gray;
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 30px 0;
}

button a:hover {
  color: #000;
}

button:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: #00d4ff;
  box-shadow: 0 0 10px #001e24, 0 0 30px #001e24, 0 0 50px #001e24;
}

button div {
  transition: 500ms;
  position: absolute;
  background-color: #00d4ff;
  box-shadow: 0 0 15px #001e24, 0 0 30px #001e24, 0 0 50px #001e24;
}

button .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

button .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

button .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

button .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

button:hover {
  color: #000;
}

button:hover span {
  color: #000;
}

button:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button:hover .top,
button:hover .bottom {
  width: 100%;
}

button:hover .left,
button:hover .right {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 1100px) {
  p {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  p {
    font-size: 1.3rem;
  }

  .titulo {
    font-size: 2.4rem;
  }
}

@media (max-width: 350px) {
  .titulo {
    font-size: 1.8rem;
  }

  button {
    padding: 10px 10px;
  }

  button a {
    font-size: 0.9rem;
  }
}
