.conteudo-2 {
  max-width: 1400px;
  display: grid;
  padding: 80px 80px;
  gap: 25px;
}

.conteudo-2 button {
  margin-top: 25px;
}

.texto {
  grid-column: 2;
  padding: 10px 0;
  font-size: 1.9rem;
  color: #fff;
}

@media (max-width: 465px) {
  .conteudo-2 {
    padding: 40px 80px;
    gap: 10px;
  }

  .conteudo-2 p {
    font-size: 1.3rem;
  }
}

@media (max-width: 460px) {
  .conteudo-2 .titulo {
    font-size: 2rem;
  }

  .conteudo-2 {
    margin-left: 50px;
  }

  .conteudo-2 p {
    font-size: 1.4rem;
  }
}
