#trabalhos-page {
  background: linear-gradient(
    256.76deg,
    #056d83 0.02%,
    #073a45 45.88%,
    #020d12 100.72%
  );
  padding-top: 160px;
}

#trabalhos-page img {
  border-radius: 4px;
}

.trabalho-bg {
  background: linear-gradient(to right, transparent 20%, #000000a6 0%);
}

.trabalho-page h1 {
  padding-bottom: 40px;
}

.trabalho-tudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
}

.trabalho-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.trabalho-conteudo h2,
.trabalho-conteudo p {
  grid-column: 1 / -1;
}

.trabalho-conteudo h2 {
  margin-bottom: 20px;
  margin-top: 32px;
}

.trabalho-conteudo p {
  margin-bottom: 32px;
}

.trabalho-conteudo a {
  grid-column: 2;
}

@media (max-width: 800px) {
  .trabalho-tudo {
    grid-template-columns: 1fr;
    padding-top: 40px;
    gap: 0px;
  }

  .img-card {
    padding-bottom: 0px;
  }

  .trabalho-conteudo h2 {
    margin-top: 0px;
  }

  .trabalho-bg {
    background: none;
  }

  #trabalhos-page {
    padding-top: 80px;
  }

  .trabalho-page h1 {
    padding-top: 120px;
    padding-bottom: 10px;
  }

  .trabalho-conteudo {
    background: #000000a6;
    padding: 20px 20px 10px 20px;
  }
}

@media (max-width: 500px) {
  .trabalho-conteudo {
    grid-template-columns: 1fr;
  }

  .trabalho-conteudo a {
    grid-row: 3;
    grid-column: 1;
    place-self: end;
  }

  .trabalho-page h1 {
    padding-top: 80px;
  }
}
