.home-conteudo p {
  padding-bottom: 42px;
}

.home-conteudo {
  padding-top: 200px;
  padding-bottom: 100px;
}

.botao-home {
  display: flex;
  flex-wrap: wrap;
  max-width: max-content;
  gap: 16px;
}

.botao-home .botao-primario a {
  padding: 14px 18px;
}

.curriculo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.curriculo a {
  grid-column: 1;
  grid-row: 1;
  align-items: left;
  justify-items: left;
  padding: 5px 10px;
}

@media (max-width: 700px) {
  .home-conteudo {
    padding-top: 160px;
    padding-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .home-conteudo {
    padding-top: 160px;
    padding-bottom: 20px;
  }
}
