.sobre-mim {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sobre-mim h2 {
  padding-bottom: 32px;
}

.sobre-mim p {
  margin-bottom: 24px;
}

.sobre-mim .botao-primario {
  margin-bottom: 24px;
}

#sobre-mim .botao-primario {
  padding: 14px 18px;
}

@media (max-width: 400px) {
  .sobre-mim {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
